
.row.people {
	margin-top: 20px;
}

.navbar {
     border-radius: 0;
}

.loading {
	display: none;
	background:  url('../images/ajax-loader.gif') no-repeat;
	width: 31px;
	height: 31px;
}

.btn-cancel,
.btn-save {
	margin-right: 10px;
}